[Unit]
Description=start metasploit

[Service]
Type=simple
ExecStart=/usr/bin/msfrpcd -n -a -P {{metasploit_rpcpassword}} -f
KillMode=control-group
Restart=on-failure
User={{metasploit_user}}

[Install]
WantedBy=multi-user.target
